
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi">
<head>
	<meta charset="utf-8"/>
	<meta property="og:site_name" content="Usvira" />
	<meta property="og:title" content="Usvira" />
	<meta property="twitter:title" name="twitter:title" content="Usvira" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://w3ni787.web3nhat.net/" />
	<meta property="og:image" content="https://nanoweb.vn/mediacenter//media/images/859/sites/ava/s1000_1000/logobottom-1543401810.png" />
	<meta name="twitter:image" content="https://nanoweb.vn/mediacenter//media/images/859/sites/ava/s1000_1000/logobottom-1543401810.png" />
	<meta property="og:image:type" name="og:image:type" content="image/png" />
	<link rel="canonical" href="http://w3ni787.web3nhat.net/" />
	<script type="text/javascript" src="/assets/13f606ea/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/13f606ea/jquery.yiiactiveform.js"></script>
	<meta name="robots" content="noindex,nofollow" />
	<meta name="googlebot" content="noindex,nofollow" />
	<meta name="bingbot" content="noindex,nofollow" />
	<meta name="msnbot" content="noindex,nofollow" />
	<title>Usvira</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="css/bootstrap.min.css?v=1.0.8">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">

	<link rel="stylesheet" type="text/css" href="css/plugin.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/customer.css?v=1.0.8">
	<script src="js/jquery-1.10.2.js"></script>
	<script src="css/owl.carousel.min.js"></script>
</head>
<body class="home-page">
	<div class="menu-bar-mobile" tabindex="-1">
		<div class="logo-menu">
			<a href="/" title="Usvira">
				<img alt="Về trang chủ" src="/mediacenter/media/images/900/logo/logo-web-1554868203.png" class="transition"/>
			</a>
		</div>

		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/du-lich-nc4681.html" title="Du lịch ">Du lịch </a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/tham-than-nc4688.html" title="Tham thân">Tham thân</a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/cong-tac-nc4692.html" title="Công tác">Công tác</a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/du-hoc-nc4693.html" title="Du học">Du học</a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/lam-viec-nc4694.html" title="Làm việc">Làm việc</a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/dinh-cu-nc4695.html" title="Định cư">Định cư</a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/tour-my-nc4696.html" title="Tour Mỹ">Tour Mỹ</a>

		</div>
		<div class="menu-bar-lv-1 ">
			<a class="a-lv-1"  href="/visa-khac-nc4697.html" title="Visa khác">Visa khác</a>

		</div>
	</div>
	<div class="shadow-open-menu"></div>
	<header>
		<div class="header_top">
			<div class="container">
				<div class="header_top_left">
					<p>Hotline: <a href=" 0944 560 888"> 0944 560 888</a></p>
				</div>
				<!-- Menu header -->
				<div class="header_top_right">

					<ul>
						<li><a href="/">Trang chủ</a></li>
						<li><a href="/gioi-thieu.html">Giới thiệu</a></li>
						<li><a href="/tu-van-pde3362.html">Tư vấn</a></li>
						<li><a href="/tin-tuc-bo-sung-nc4708.html">Tin tức</a></li>
						<li><a href="/lien-he.html">Liên hệ</a></li>
						<li><a href="/tuyen-dung.html">Tuyển dụng</a></li>
					</ul>
				</div>                 
			</div>
		</div>
		<div class="header_content">
			<div class="container">
				<div class="logo">
					<a href="/"><img src="/mediacenter/media/images/900/logo/logo-web-1554868203.png"></a>
				</div>
			</div>
			<div class="menu-btn-show">
				<span class="border-style"></span>
				<span class="border-style"></span>
				<span class="border-style"></span>
			</div>
		</div>
		<div class="menu_pc">
			<div class="container">

				<div class="menu_main">
					<ul>
						<li>
							<a href="/du-lich-nc4681.html" class="">Du lịch </a>
						</li>
						<li>
							<a href="/tham-than-nc4688.html" class="">Tham thân</a>
						</li>
						<li>
							<a href="/cong-tac-nc4692.html" class="">Công tác</a>
						</li>
						<li>
							<a href="/du-hoc-nc4693.html" class="">Du học</a>
						</li>
						<li>
							<a href="/lam-viec-nc4694.html" class="">Làm việc</a>
						</li>
						<li>
							<a href="/dinh-cu-nc4695.html" class="">Định cư</a>
						</li>
						<li>
							<a href="/tour-my-nc4696.html" class="">Tour Mỹ</a>
						</li>
						<li>
							<a href="/visa-khac-nc4697.html" class="">Visa khác</a>
						</li>
					</ul>
				</div>              
			</div>
		</div>
	</header>
	<!-- slider  -->
	<div class="slider wow fadeInUp">

		<div class="container">
			<div class="slider_main owl-carousel owl-theme">

				<div class="item">
					<a href="">
						<img src="/mediacenter/media/files/900/banners/448_1555063758_1245cb063ce2d6c5.jpg" alt="banner">
					</a>
				</div>

				<div class="item">
					<a href="">
						<img src="/mediacenter/media/files/900/banners/458_1555063555_9765cb06303a6f6f.jpg" alt="banner">
					</a>
				</div>

				<div class="item">
					<a href="">
						<img src="/mediacenter/media/files/900/banners/43_1555063664_9795cb063700f8b6.jpg" alt="banner">
					</a>
				</div>

				<div class="item">
					<a href="">
						<img src="/mediacenter/media/files/900/banners/748_1555063544_7265cb062f81ccbf.jpg" alt="banner">
					</a>
				</div>

				<div class="item">
					<a href="">
						<img src="/mediacenter/media/files/900/banners/821_1555063534_10005cb062ee46146.jpg" alt="banner">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="layout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 main_left">
						<div class="group_left ">
							<!-- Cắm trang nội dung -->
							<div class="news_main wow fadeInLeft" style="animation-delay: .5s;">

								<p><img alt="" src="http://w3ni787.web3nhat.net/data/media/900/images/2019/slider1.jpg" /></p>

								<div class="text">
									<h2 class="title_news">Visa thăm thân Mỹ là gì</h2>

									<p>Một công dân của một quốc gia nước ngoài tìm cách vào Hoa Kỳ nói chung trước tiên phải có được thị thực Hoa Kỳ, được đặt trong hộ chiếu của người đi du lịch, một tài liệu du lịch được cấp bởi quốc tịch của người đi du lịch.</p>

									<p>Một số du khách quốc tế có thể đủ điều kiện để đi du lịch đến Hoa Kỳ mà không cần thị thực nếu họ đáp ứng các yêu cầu cho du lịch miễn thị thực. Phần Visa của trang web này là tất cả về thị thực Hoa Kỳ cho công dân nước ngoài đến Hoa Kỳ.</p>

									<p>(Lưu ý: Công dân Hoa Kỳ không cần thị thực Hoa Kỳ để đi du lịch, nhưng khi lên kế hoạch du lịch nước ngoài có thể cần thị thực do đại sứ quán của quốc gia họ muốn đến, xem thông tin quốc gia trong phần Mục Du lịch Quốc tế của trang web này.)</p>
								</div>
							</div>
							<div class="list_ wow fadeInLeft" style="animation-delay: .5s;">
								<h3>Tìm hiểu các loại visa phù hợp với bạn</h3>
								<div class="content">
									<p>Loại thị thực bạn phải có được xác định theo luật nhập cư Hoa Kỳ, và liên quan đến mục đích du lịch của bạn.</p>
									<ul>
										<li>
											<p>Vui lòng truy cập trình <a>hướng dẫn Visa</a> của chúng tôi để tìm hiểu loại visa nào phù hợp với bạn.</p>
										</li>
										<li>
											<p>Bạn cũng có thể truy cập <a>câu hỏi thường gặp</a> của chúng tôi hoặc tìm hiểu về <a>chương trình miễn thị thực</a>. </p>
										</li>
										<li>
											<p>Các liên kết hữu ích khác: <a href="">Danh mục Visa</a> | <a href="">Tìm Đại sứ quán hoặc Lãnh sự quán Hoa Kỳ</a> | <a href="">Bảng chú giải</a> </p>
										</li>
									</ul>
								</div>
							</div>						<!-- Cắm html -->
							<div class="news_important wow fadeInLeft" style="animation-delay: .5s;">
								<h2 class="title_news">Thông báo quan trọng</h2>

								<div class="content">
									<p>Do chính phủ Nga ra lệnh đóng cửa Tổng lãnh sự quán Hoa Kỳ tại St. Petersburg, chúng tôi không còn có thể cung cấp dịch vụ visa ở đó. Vui lòng tham khảo trang web của Đại sứ quán <a>Hoa Kỳ tại Moscow</a>.</p>
								</div>
							</div>

							<!-- Danh mục in home -->

							<div class="list_item_main ">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Du lịch</h3>
											<div class="content">
												<div class="img">
													<a href="/du-lich-nc4681.html"> <img alt="Du lịch" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/capitol-1554870295.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Thăm thân</h3>
											<div class="content">
												<div class="img">
													<a href="/tham-than-nc4688.html"> <img alt="Thăm thân" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/with-list-1554870312.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Công tác</h3>
											<div class="content">
												<div class="img">
													<a href="/cong-tac-nc4692.html"> <img alt="Công tác" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/earth-1554870329.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Du học</h3>
											<div class="content">
												<div class="img">
													<a href="/du-hoc-nc4693.html"> <img alt="Du học" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/book-1554870349.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Làm việc</h3>
											<div class="content">
												<div class="img">
													<a href="/lam-viec-nc4694.html"> <img alt="Làm việc" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/suitcase-1554870369.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Định cư</h3>
											<div class="content">
												<div class="img">
													<a href="/dinh-cu-nc4695.html"> <img alt="Định cư" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/map-1554870383.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Tour Mỹ</h3>
											<div class="content">
												<div class="img">
													<a href="/tour-my-nc4696.html"> <img alt="Tour Mỹ" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/bus-1554870248.png">
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="item wow fadeInUp" style="animation-delay: .5s;">
											<h3>Visa khác</h3>
											<div class="content">
												<div class="img">
													<a href="/visa-khac-nc4697.html"> <img alt="Visa khác" src="https://nanoweb.vn/mediacenter//media/images/900/category/ava/s400_400/id-card-1554870268.png">
													</a>
												</div>
												<div class="text">
													<ul>

														<li><a href="/visa-cannada-nc4710.html"><p>Visa Cannada</p></a></li>

														<li><a href="/visa-uk-nc4711.html"><p>Visa Uk</p></a></li>

														<li><a href="/visa-schengen-nc4712.html"><p>Visa Schengen </p></a></li>

														<li><a href="/visa-uc-nc4713.html"><p>Visa Úc</p></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 main_right">
						<div class="group_right">
							<!-- Cắm menu  -->
							<h2 class="title_news">Bạn cần trợ giúp</h2>
							<p>Nhiều công dân không phải Hoa Kỳ cần thị thực để vào Hoa Kỳ để thăm, làm việc và sinh sống. Tại sao bạn muốn đi du lịch đến Hoa Kỳ? Vui lòng thử Trình hướng dẫn Visa của chúng tôi.</p>
							<div class="item_v  wow fadeInRight">
								<a href="javascript:void(0)"><img src="https://nanoweb.vn/mediacenter//media/images/900/menu/icons/010-1554878818.png"></a>
								<p><a href="javascript:void(0)">VISA WIZARD </a></p>
							</div>
							<div class="item_v  wow fadeInRight">
								<a href="/cau-hoi.html"><img src="https://nanoweb.vn/mediacenter//media/images/900/menu/icons/passport-1554878853.png"></a>
								<p><a href="/cau-hoi.html">Câu hỏi thường gặp <br>Về Thị thực - Những điều cơ bản</a></p>
							</div>
							<!-- Cắm bài viết thuộc danh mục hình ảnh visa  -->
							<div class="table_news  wow fadeInRight" style="animation-delay: .5s;">
								<h3 class="title_table">Yêu cầu ảnh Visa</h3>
								<div class="content">
									<ul>
										<li><a href="/anh-thanh-phan-mau-nd9843.html" title="Ảnh Thành phần Mẫu" class="text">
										Ảnh Thành phần Mẫu                        </a></li>
										<li><a href="/anh-cau-hoi-thuong-gap-nd9842.html" title="Ảnh - Câu hỏi thường gặp " class="text">
										Ảnh - Câu hỏi thường gặp                         </a></li>
										<li><a href="/anh-yeu-cau-hinh-anh-ky-thuat-so-nd9841.html" title=" Ảnh Yêu cầu hình ảnh kỹ thuật số" class="text">
										Ảnh Yêu cầu hình ảnh kỹ thuật số                        </a></li>
									</ul>
								</div>
							</div><div class="table_news  wow fadeInRight" style="animation-delay: .5s;">
								<h3 class="title_table">PHÁP LUẬT VÀ CHÍNH SÁCH</h3>
								<div class="content">
									<ul>
										<li><a href="/visa-cap-nhat-chinh-sach-visa-nd9847.html" title="Visa Cập nhật Chính sách Visa " class="text">
										Visa Cập nhật Chính sách Visa                         </a></li>
										<li><a href="/visa-ban-tin-thong-ke-va-luat-thong-ke-nd9846.html" title="Visa Bản tin Thống kê và luật thống kê" class="text">
										Visa Bản tin Thống kê và luật thống kê                        </a></li>
										<li><a href="/ban-tin-nd9845.html" title="Bản tin" class="text">
										Bản tin                        </a></li>
										<li><a href="/quyen-va-bao-ve-cua-ban-nd9844.html" title="Quyền và Bảo vệ của bạn" class="text">
										Quyền và Bảo vệ của bạn                        </a></li>
									</ul>
								</div>
							</div>						<!-- Cắm bài viết thuộc danh mục hình ảnh visa  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="logo_footer">
						<a href="/"><img src="/mediacenter/media/images/900/logo/logo-web-1554868203.png"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="item_footer">

						<h3>Thông tin liên hệ</h3>

						<div class="content">
							<p>Hotline: <a href="0944 560 888">0944 560 888</a></p>

							<p>Địa chỉ: <a href="0944 560 888">33 Tràng Thi – Hoàn Kiếm – Hà Nội</a></p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="item_footer">
						<h3>Menu nhanh</h3>
						<div class="content">
							<ul>
								<li><a href="">Du lịch</a></li>
								<li><a href="">Thăm thân</a></li>
								<li><a href="">Công tác</a></li>
								<li><a href="">Du học</a></li>
							</ul>
							<ul>
								<li><a href="">Du lịch</a></li>
								<li><a href="">Thăm thân</a></li>
								<li><a href="">Công tác</a></li>
								<li><a href="">Du học</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="item_footer">
						<!-- form đăng ký nhận tin -->
						<h3>Đăng ký nhận tin</h3>
						<div class="content">
							<p> Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức mới nhất của USVISA tới quý khách.</p>
							<form class="form-horizontal newsletter-form" id="newsletter-form" action="/site/site/receivenewsletter" method="post"> 
								<input class="form-control" placeholder="Email" title="Email" name="Newsletters[email]" id="Newsletters_email" type="text" maxlength="100" value="" />		<div class="errorMessage" id="Newsletters_email_em_" style="display:none"></div>		<button type="submit"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
							</form></div>        </div>
						</div>
					</div>
				</div>
				<div class="coppy">
					<div class="container">
						<!-- Coppy -->
						<p>Copyright © 2019 USVISA.VN</p>

						<!-- Support -->
						<p>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>      
						</p>        
					</div>
				</div>
			</footer>
			<div class="share_right">
				<ul>
					<li><a href="http://viber.me/0944560888?chat" target="_blank"><img alt="" src="http://w3ni787.web3nhat.net/data/media/900/images/image%202.png" /></a></li>
					<li><a href="http://zalo.me/0944560888?chat" target="_blank"><img alt="" src="http://w3ni787.web3nhat.net/data/media/900/images/image%203.png" /></a></li>
				</ul>
			</div>
			<script src="js/wow.min.js"></script>
			<script type="text/javascript">
				new WOW().init();
			</script>
			<script type="text/javascript" src="js/bootstrap.min.js"></script>
			<script src="js/slick.min.js"></script>
			<script src="js/main_t.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$(".item h4").each(function(index){
						$(this).click(function(){
							$(this).find('i').toggleClass("fa-minus");
							$(this).next('.text').slideToggle();

						});
					});

					scroll_fix();
					$(window).scroll(function (event) {
						var scroll = $(window).scrollTop();
						scroll_fix();

					});
					function scroll_fix(){
						if($(window).scrollTop()>200){
							$(".header_content").addClass("fix_top");
							$(".menu_pc").addClass("fix_top");
						}
						else{
							$(".header_content").removeClass("fix_top");
							$(".menu_pc").removeClass("fix_top");
						}
					}
				});	
			</script>

		</body>

		</html>